<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="registry-activate part">
        <title>{{title}}</title>
    </head>
    <body>

        <main>
            <div class="container" style="margin-left: auto; margin-right: auto; font-size:130%;">
                <div class="wallpaper" style="background-color:#f0eff6; width: 90%; font-family: arial; padding: 40px 0; margin-left: auto; margin-right: auto;">
                    <div class="white-card" style="background-color:white; width: 50%; padding: 10px 45px 40px 45px; text-align: center; margin-left: auto; margin-right: auto; border-radius: 15px;">
                        <img src="http://www.gnosismx.com/images/logo.png" alt="gnosi-logo">                   
                        <p>
                            <b>HOLA <b> <b style="color:blue; text-transform: uppercase;">¡{{name}}!<b>
                        </p>
                        <p><b>CONFIRMA TU CORREO<b></p> 
                        <br>
                        <p>
                        Haz clic en el botón para validar tu correo
                        </p>  
                        <br>
                        <a style="background-color:#212121;
                        border: none;
                        color: white;
                        padding: 15px 32px; font-size:12px;" 
                        href="gnosismx.com">
                        CONFIRMAR
                        </a>
                        <br>
                        <br>
                        <p>Has recibido este correo por ser usuario de los servicios de</p>
                        <p style="color:blue">www.gnosismx.com</p>
                        <br>
                        <p style="color:blue">Si deseas dejar de recibir correos,haz click aqui.</p>
                    </div>
                </div>    
            </div>
        </main>
    </body>
</html>