{% extends 'baseProyectos.html' %}
{% load static %}
{% block Content %}
<section class="container-poyectos">
    <div class="container" style="margin-top:20px; width:80%;">
        <div class="row">

            <!-- CONTROL PAGES -->
            <div class="col l4 s12 grey lighten-2" style="display:flex; height:35px; align-items:center;">
                <a href="{% url 'my_projectsCreateds' %}">Mis proyectos</a>
                <a class="grey-text pl7">/</a>
                <a class="grey-text pl7"> Nuevo proyecto</a>
            </div>


            <!-- TITLE PAGE -->
            <div class="col s12 ">
                <h3 class="blue-text col l12 s12 text-darken-4">Nuevo Proyecto</h3>
            </div>


            <!-- LEYEND -->
            <div class="col s12">
                <span class="grey-text" style="font-size:14pt;">Complete los datos necesarios para dar de alta su nuevo
                    proyecto</span>
            </div>


        </div>
    </div>


    <!-- CONTENT CENTRAL -->
    <div class="container white" style="margin-top:20px;  width:80%;">
        <div class="row white" style="margin-right:20px; margin-left:20px;">


            <!-- CLICK TO RETURN PAGE BEFORE -->
            <div class="col s12 white" style="padding-top:15px;">
                <a onclick="window.history.back();" style="cursor: pointer;"> ← Volver</a>
            </div>


            <!--PAGE SUBTITLE-->
            <div class="col s12 white">
                <h4 class="blue-text text-darken-4 white">Requerimientos de Proyecto</h4>
                <h6 class="grey-text white pbtm20">Información sobre los recursos y las areas que requiere el proyecto
                </h6>
            </div>
            <!-- FORM START -->
            <form method="POST">
                {% csrf_token %}
                <!-- CHOOSE A BUDGET-->
                <div class="input-field col s7 white">
                    <input placeholder="EJ. $150,000.00" id="title_project" type="number" class="validate white"
                        pattern="[0-9]" min="100" max="150000" title="Unicamente cantidades entre 100 y 150000"
                        required name="presupuesto">
                    <label for="title_project" class="white black-text">Tope presupuestal del proyecto</label>
                </div>

                <!-- CHOOSE A MODULE -->
                <div class="input-field col s6 white">
                    <select class="white" name="modulo" required>
                        <option value="" disabled selected>Modulo</option>
                            {% for modulo in listaModulos %}
                            <option value='{{modulo.id}}'>{{ modulo.nombre }}</option>
                            {% endfor %}
                    </select>
                    <label class="black-text white">Modulo Requerido</label>
                </div>


                <!-- CHOOSE A SUBMODULE -->
                <div class="input-field col s6 white">
                    <select class="white" name="submodulo" required>
                        <option value="" disabled selected>Submódulo</option>
                        {% for submodulos in listaSubodulos %}
                            <option value='{{submodulos.id}}'>{{ submodulos.nombre }}</option>
                        {% endfor %}
                    </select>
                    <label class="black-text white">Submódulo Requerido</label>
                </div>


                <!-- CHOOSE A EXPERIENCE REQUIRED-->
                <div class="input-field col s6 white pbtm20">
                    <select class="white" name="experienciaRequerida" required>
                        <option value="">Selecciona una opción</option>
                            {% for niveles in listaNivelesConocimiento %}
                        <option value="{{ niveles.id }}" id="{{ niveles.nombre }}">{{ niveles.nombre }} - {{ niveles.descripcion }}</option>  
                        {% endfor %}
                    </select>
                    <label class="black-text white">Experiencia Requerida</label>
                </div>


                <!-- CHOOSE A MODULE REQUIRED-->
                <div class="input-field col s6 white" required>
                    <select class="white" name="experienciaDesesada" required>
                        <option value="">Selecciona una opción</option>
                            {% for niveles in listaNivelesConocimiento %}
                        <option value="{{ niveles.id }}" id="{{ niveles.nombre }}">{{ niveles.nombre }} - {{ niveles.descripcion }}</option>  
                        {% endfor %}
                    </select>
                    <label class="black-text white">Experiencia Deseada</label>
                </div>

                <!-- ADD REQUIREMENTS BUTTON -->
                <div class="col s12 white pbtm20">
                    <a class="waves-effect waves-light btn-large white black-text" id="showButton">Agregar
                        Requerimiento</a>
                </div>
                <input type="hidden" id="tablaDatos" name="tablaDatos" value="">

                <!-- HIDDEN CONTENT -->
                <div class="col s12  white hidden-content" id="content">
                    <div class="row bcw">


                        <!-- TITLE -->
                        <h5 class="grey-text white black-text" style="margin-top:1cm;">Módulos requeridos para el
                            proyecto</h5>


                        <!-- START TABLE -->
                        <table class="centered highlight" style="margin-top:1cm; padding-right:1cm;">
                            <thead>
                                <tr>
                                    <th>Módulo</th>
                                    <th>Submódulo</th>
                                    <th>Experiencia Requerida</th>
                                    <th>Experiencia Deseada</th>
                                    <th>Editar</th>
                                </tr>
                            </thead>

                            <tbody id="tabla-requerimientos">
                                
                            </tbody>
                            <tfoot>
                                <tr id="sap-form-edit-4">
                                    <td>
                                      <select class="browser-default" name="moduloSAP" id="moduloSAP">
                                        <option value="" disabled selected>Módulo</option>
                                        {% for modulo in listaModulos %}
                                        <option value="{{ modulo.nombre }}">{{ modulo.nombre }}</option>
                                        {% endfor %}
                                      </select>
                                    </td>
                                    <td>
                                      <select class="browser-default" name="submoduloSAP" id="submoduloSAP">
                                        <option value="" disabled selected>Submódulo</option>
                                        {% for submodulos in listaSubodulos %}
                                        <option value="{{ submodulos.nombre }}">{{ submodulos.nombre }}</option>
                                        {% endfor %}
                                      </select>
                                    </td>
                                    <td class="label-experience">
                                      <select class="browser-default" name="nivelRequeridoSAP" id="nivelRequeridoSAP">
                                        <option value="" disabled selected>Nivel</option>
                                        {% for niveles in listaNivelesConocimiento %}
                                        <option value="{{ niveles.nombre }}">{{ niveles.nombre }}</option>
                                        {% endfor %}
                                      </select>
                                    </td>
                                    <td class="label-experience3">
                                        <select class="browser-default" name="nivelDeseadoSAP" id="nivelDeseadoSAP">
                                          <option value="" disabled selected>Nivel</option>
                                          {% for niveles in listaNivelesConocimiento %}
                                          <option value="{{ niveles.nombre }}">{{ niveles.nombre }}</option>
                                          {% endfor %}
                                        </select>
                                      </td>
                                    <td><button class="white-buttons2" onclick="addRequerimientoSAP(event)">Agregar</button></td>
                                  </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

            <!-- SUBMIT FORM -->
            <div class="col s12 center white pbtm20">
                    <button class="waves-effect waves-light btn-large grey darken-4 white">
                        <i class="material-icons right grey darken-4">arrow_forward</i>
                        Guardar y Continuar
                    </button>
                </div>
            </form>
            
        </div>
    </div>
</section>
<script>
    let modulos = [];
    let cantidadModulo = 0;
    function addRequerimientoSAP(event) {
        event.preventDefault();
        // Obtener los valores seleccionados de los elementos select
        var modulo = document.getElementById('moduloSAP').value;
        var submodulo = document.getElementById('submoduloSAP').value;
        var experienciaRequerida = document.getElementById('nivelRequeridoSAP').value;
        var experienciaDeseada = document.getElementById('nivelDeseadoSAP').value;
        
        // Crear una nueva fila y las celdas con los valores capturados
        var nuevaFila = document.createElement('tr');
        var celdaModulo = document.createElement('td');
        celdaModulo.textContent = modulo;
        var celdaSubmodulo = document.createElement('td');
        celdaSubmodulo.textContent = submodulo;
        
        var celdaExperienciaRequerida = document.createElement('td');
        var divLabel = document.createElement('div');
        divLabel.textContent = experienciaRequerida;
        if(experienciaRequerida == 'K0'){
            divLabel.className = 'label-kCero';
        }else if(experienciaRequerida == 'K1'){
            divLabel.className = 'label-kUno';
        }else if(experienciaRequerida == 'K2'){
            divLabel.className = 'label-kDos';
        }else if(experienciaRequerida == 'K3'){
            divLabel.className = 'label-kTres';
        }else if(experienciaRequerida == 'K4'){
            divLabel.className = 'label-kCuatro';
        }
        divLabel.style.marginLeft = '34%';
        celdaExperienciaRequerida.appendChild(divLabel)
    
        var celdaExperienciaDeseada = document.createElement('td');
        var divLabel2 = document.createElement('div');
        divLabel2.textContent = experienciaDeseada;
        if(experienciaDeseada == 'K0'){
            divLabel2.className = 'label-kCero';
        }else if(experienciaDeseada == 'K1'){
            divLabel2.className = 'label-kUno';
        }else if(experienciaDeseada == 'K2'){
            divLabel2.className = 'label-kDos';
        }else if(experienciaDeseada == 'K3'){
            divLabel2.className = 'label-kTres';
        }else if(experienciaDeseada == 'K4'){
            divLabel2.className = 'label-kCuatro';
        }
        divLabel2.style.marginLeft = '34%';

        celdaExperienciaDeseada.appendChild(divLabel2);
        
        // Agregar las celdas a la nueva fila
        nuevaFila.appendChild(celdaModulo);
        nuevaFila.appendChild(celdaSubmodulo);
        nuevaFila.appendChild(celdaExperienciaRequerida);
        nuevaFila.appendChild(celdaExperienciaDeseada);
        nuevaFila.style.textAlign = 'center';
        
        // Agregar la nueva fila a la tabla
        var tabla = document.getElementById('tabla-requerimientos');
        tabla.appendChild(nuevaFila);        
        const filas = tabla.getElementsByTagName('tr');

        // Recorrer las filas de la tabla
       // Obtener el campo oculto
        var tablaDatosInput = document.getElementById('tablaDatos');

        // Recorrer las filas de la tabla y obtener los valores
        var tabla = document.getElementById('tabla-requerimientos');
        var datos = [];
        for (var i = 0; i < tabla.rows.length; i++) {
            var fila = tabla.rows[i];
            var celdas = fila.cells;
            var filaDatos = [];
            for (var j = 0; j < celdas.length; j++) {
            filaDatos.push(celdas[j].textContent.trim());
            }
            datos.push(filaDatos);
        }

        // Convertir los datos a JSON y asignarlos al valor del campo oculto
        tablaDatosInput.value = JSON.stringify(datos);
        console.log(datos)
     }
     

    // Inicializar el select
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems);
    });
    var showButton = document.getElementById('showButton');
    var content = document.getElementById('content');

    showButton.addEventListener('click', function(){
        if (content.classList.contains('hidden-content')){
            content.classList.remove('hidden-content');
            showButton.textContent ="Ocultar";
        } else {
            content.classList.add('hidden-content');
            showButton.textContent = "Agregar Requerimiento";
        }
    });
</script>
{% endblock Content %}
<!-- SECTION SCRIPTS -->
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="{% static 'js/projects.js' %}"></script>
{% endblock scripts %}