{% extends 'basePrincipal.html' %}
{% load static %}
{% block Content %}
{{ status }}
  <section class="container_data">
    <div class="my-data-name">
      <!-- Titulo pagina -->
      <div class="title">
        <div class="row" >
          <h3 class="blue-text text-darken-4">Busca un Proyecto</h3>
          <span class="grey-text text-darken-3">Encuentra un trabajo en el cual puedas colaborar con tu experiencia</span>
        </div>
      </div>

      <!-- Buscador -->
      <div class="information-data-name" id="information-profile">
        <div class="information-user-profile">
          <div class="seeker">
          </form>
            <div class="input-field seeker1">
              <input placeholder="Ej. Consultor ABAP" id="first_name" type="text" class="validate">
              <label for="first_name" class="labels">¿Que?</label>
            </div>
            <div class="input-field seeker1">
              <input placeholder="Ej. Hidalgo" id="first_name" type="text" class="validate">
              <label for="first_name" class="labels">¿Donde?</label>
            </div>
            <div class="input-field seeker1">
              <button href="/Gnosis_SC/consultores/templates/login/profession.html" class="btn-large grey darken-3 waves-effect waves-light" type="submit" name="action">BUSCAR
                <i class="material-icons right grey darken-3" style="color: white;">search</i>
              </button>
            </div>
          </form>
          </div>
        </div>
      </div>

      <!-- Proyectos Mostrados -->
      <div class="information-contact-experience">
        <div class="contact bcw">
          <h5 class="data-contact-tittle">Mostrando todos los proyectos disponibles(450)</h5>
          <br>

        <!-- Card Proyecto 1 -->
        <div class="card z-depth-3">
          <div class="col l12 bcw">
            <div class="row bcw">
              <div class="col l5 center bcw" >
                <li class="img bcw" style="list-style-type: none;">
                  <img class="responsive-img bcw" src="{% static 'images/compay.png' %}" alt="Logo Gnosis" style="width:50%; padding-top:25px;"/>
                </li>
                <a class="waves-effect waves-light grey darken-3 btn-large" href="{% url 'detalles_proyecto' %}">DETALLES</a>
              </div>
              <div class="col l7 bcw">
                <h6 class="flow-text" id="empresa" >Umbrella Company SA. de CV.</h6>
                <h6 class="grey-text">Ubicacion</h6>
                <h6 id="ubicacion" >CDMX, México</h6>
                <br>
                <h6 class="grey-text">Actividades</h6>
                <h6 id="actividades" >Configuración sobre SD y MM</h6>
                <br>
                <h6 class="grey-text">Periodo de tiempo</h6>
                <h6 id="tiempo" >4 meses</h6>
              </div>
            </div>
            <div class="col l12 row bcw" style="margin-top: -20px; height:80px; padding-top:14px">
                <div class="col l4 bcw">
                  <h6 class="black-text">Experiencia Requerida:</h6>
                </div>
                
                <div class="col l7 bcw" style="margin-left:40px">
                  <div class="wrapper bcw">
                    <div class="chip yellow item white-text">
                      K1
                    </div>
                    <div class="chip green item white-text">
                      K2
                    </div>
                    <div class="chip blue item white-text">
                      K3
                    </div>
                    <div class="chip yellow item">
                      K1
                    </div>
                    <div class="chip green item white-text">
                      K2
                    </div>
                    <div class="chip blue item white-text">
                      K3
                    </div>
                  </div>
  
                </div>
            </div>
          </div>
        </div>
        <br>


        <!-- Card Proyecto 2 -->
        <div class="card z-depth-3">
          <div class="col l12 bcw">
            <div class="row bcw">
              <div class="col l5 center bcw" >
                <li class="img bcw" style="list-style-type: none;">
                  <img class="responsive-img bcw" src="{% static 'images/compay.png' %}" alt="Logo Gnosis" style="width:50%; padding-top:25px;"/>
                </li>
                <a class="waves-effect waves-light grey darken-3 btn-large" href="{% url 'detalles_proyecto' %}">DETALLES</a>
              </div>
              <div class="col l7 bcw">
                <h6 class="flow-text" id="empresa" >Umbrella Company SA. de CV.</h6>
                <h6 class="grey-text">Ubicacion</h6>
                <h6 id="ubicacion" >CDMX, México</h6>
                <br>
                <h6 class="grey-text">Actividades</h6>
                <h6 id="actividades" >Configuración sobre SD y MM</h6>
                <br>
                <h6 class="grey-text">Periodo de tiempo</h6>
                <h6 id="tiempo" >4 meses</h6>
              </div>
            </div>
            <div class="col l12 row bcw" style="margin-top: -20px; height:80px; padding-top:14px">
                <div class="col l4 bcw">
                  <h6 class="black-text">Experiencia Requerida:</h6>
                </div>
                
                <div class="col l7 bcw" style="margin-left:40px">
                  <div class="wrapper bcw">
                    <div class="chip yellow item white-text">
                      K1
                    </div>
                    <div class="chip green item white-text">
                      K2
                    </div>
                    <div class="chip blue item white-text">
                      K3
                    </div>
                    <div class="chip yellow item">
                      K1
                    </div>
                    <div class="chip green item white-text">
                      K2
                    </div>
                    <div class="chip blue item white-text">
                      K3
                    </div>
                  </div>
  
                </div>
            </div>
          </div>
        </div>
        <br>
        <!-- Card Proyecto 3 -->
        <div class="card z-depth-3">
          <div class="col l12 bcw">
            <div class="row bcw">
              <div class="col l5 center bcw" >
                <li class="img bcw" style="list-style-type: none;">
                  <img class="responsive-img bcw" src="{% static 'images/compay.png' %}" alt="Logo Gnosis" style="width:50%; padding-top:25px;"/>
                </li>
                <a class="waves-effect waves-light grey darken-3 btn-large" href="{% url 'detalles_proyecto' %}">DETALLES</a>
              </div>
              <div class="col l7 bcw">
                <h6 class="flow-text" id="empresa" >Umbrella Company SA. de CV.</h6>
                <h6 class="grey-text">Ubicacion</h6>
                <h6 id="ubicacion" >CDMX, México</h6>
                <br>
                <h6 class="grey-text">Actividades</h6>
                <h6 id="actividades" >Configuración sobre SD y MM</h6>
                <br>
                <h6 class="grey-text">Periodo de tiempo</h6>
                <h6 id="tiempo" >4 meses</h6>
              </div>
            </div>
            <div class="col l12 row bcw" style="margin-top: -20px; height:80px; padding-top:14px">
                <div class="col l4 bcw">
                  <h6 class="black-text">Experiencia Requerida:</h6>
                </div>
                
                <div class="col l7 bcw" style="margin-left:40px">
                  <div class="wrapper bcw">
                    <div class="chip yellow item white-text">
                      K1
                    </div>
                    <div class="chip green item white-text">
                      K2
                    </div>
                    <div class="chip blue item white-text">
                      K3
                    </div>
                    <div class="chip yellow item">
                      K1
                    </div>
                    <div class="chip green item white-text">
                      K2
                    </div>
                    <div class="chip blue item white-text">
                      K3
                    </div>
                  </div>
  
                </div>
            </div>
          </div>
        </div>
        <div class="row center bcw" style="padding-top:55px; padding-bottom:55px;">
          <a class="waves-effect waves-light btn" >Cargar más</a>
        </div>
      </div>

      <!-- Busqueda 2: Experiencia y Tipo de Empleo -->
      <div class="experience">
        <div class="row  bcw">
          <form action="#">
            <ul class="collapsible expandable">
              <!-- Nivel de Experiencia -->
              <li>
                <div class="collapsible-header"><i class="material-icons bcw">school</i>Nivel de Experiencia</div>
                  <div class="collapsible-body bcw">
                    <p>
                      <label class="bcw">
                        <input name="group1" type="radio" class="bcw"/>
                        <span class="bcw">Conocimiento con nivel introductorio</span>
                      </label>
                    </p>
                    <br>
                    <p>
                      <label class="bcw">
                        <input name="group1" type="radio" class="bcw"/>
                        <span class="bcw">De 1 a 2 proyectos de a 1 a 3 años exp.</span>
                      </label>
                    </p>
                    <br>
                    <p>
                      <label class="bcw">
                        <input name="group1" type="radio" class="bcw"/>
                        <span class="bcw">De 3 a 5 proyectos de a 3 a 5 años de experiencia</span>
                      </label>
                    </p>
                    <br>
                    <p>
                      <label class="bcw">
                        <input name="group1" type="radio" class="bcw"/>
                        <span class="bcw">Dominio de las funcionalidad. Más de 5 años en proyectos</span>
                      </label>
                    </p>
                    <br>
                    <p>
                      <label class="bcw">
                        <input name="group1" type="radio" class="bcw"/>
                        <span class="bcw">Experto en la funcionalidad con más de 5 años en proyectos</span>
                      </label>
                    </p>
                    <br>
                </div>
              </li>
              <!-- Tipo de Empleo -->
              <li>
                <div class="collapsible-header"><i class="material-icons  bcw">schedule</i>Tipo de empleo</div>
                <div class="collapsible-body bcw">
                  <p>
                    <label class="bcw">
                      <input name="group1" type="radio" class="bcw"/>
                      <span class="bcw">Tiempo completo</span>
                    </label>
                  </p>
                  <br>
                  <p>
                    <label class="bcw">
                      <input name="group1" type="radio" class="bcw"/>
                      <span class="bcw">Trabajo remoto</span>
                    </label>
                  </p>
                  <br>
                  <p>
                    <label class="bcw">
                      <input name="group1" type="radio" class="bcw"/>
                      <span class="bcw">Medio tiempo</span>
                    </label>
                  </p>
                  <br>
                </div>
              </li>
            </ul>
            <div class="center white">
            <button href="/Gnosis_SC/consultores/templates/login/profession.html" class="btn-large grey darken-3 waves-effect waves-light" type="submit" name="action">Actualizar
              <i class="material-icons right grey darken-3" style="color: white;">autorenew</i>
            </button>
          </div>
          </form>
        </div>
      </div>
  </div>
  </section>

  <script src="{% static 'js/principal.js' %}?v=1.1"></script>
  <script>
    var elem = document.querySelector('.collapsible.expandable');
    var instance = M.Collapsible.init(elem, {
      accordion: false
    });
    
  $(document).ready(function(){
    $('.tooltipped').tooltip();
  });
  </script>
  {% endblock %}