<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="registry-activate part">
        <title>{{title}}</title>
    </head>
    <body>

        <main>
            <div class="container" style="margin-left: auto; margin-right: auto; font-size:130%;">
                <div class="wallpaper" style="background-color:#f0eff6; width: 90%; font-family: arial; padding: 40px 0; margin-left: auto; margin-right: auto;">
                    <div class="white-card" style="background-color:white; width: 50%; padding: 10px 45px 40px 45px; text-align: center; margin-left: auto; margin-right: auto; border-radius: 15px;">
                        <img src="http://www.gnosismx.com/images/logo.png" alt="gnosi-logo">                   
                        <p>
                            <b>EXCELENTES NOTICIAS<b> <b style="color:blue; text-transform: uppercase;">¡{{name}}!<b>
                        </p>
                        🧰 
                        <p style="color: rgba(61, 60, 60, 0.502); text-align: justify; ">  

                            <b>La empresa a la cual te has postulado ha solicitado una entrevista.<b>
                            <b style="color:grey;">
                                Si estas disponible y te interesaría esta oportunidad da click en vinculo para confirmar tu entrevista. 
                            </b>
                        </p> 
                        <br>
                        <div class="container" style="border: 5px solid white;box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;text-align: left; border-radius: 2%; height: 300px;">
                            <p >
                                <b style="font-size: 14pt; padding-left:15px; color:rgb(97, 95, 95);">Experiencia Requerida</b>
                                <br>
                                <b style="font-size: 10pt; padding-left:15px; color:rgb(97, 95, 95);">{{puesto}}</b>
                            </p>
                            <p>
                                <b style="font-size: 14pt; padding-left:15px; color:rgb(97, 95, 95);">Ubicación</b>
                                <br>
                                <b style="font-size: 10pt; padding-left:15px; color:rgb(97, 95, 95);">{{ubicacion}}</b>
                            </p>
                            <p>
                                <b style="font-size: 14pt; padding-left:15px; color:rgb(97, 95, 95);">Tiempo</b>
                                <br>
                                <b style="font-size: 10pt; padding-left:15px; color:rgb(97, 95, 95);">{{tipo}}</b>
                            </p>
                            <br> 
                            <div class="center" style="text-align: center; ">
                                <a style="background-color:#212121;
                                border: none;
                                color: white;
                                padding: 15px 32px;" 
                            
                                href="gnosismx.com">
                                CONFIRMAR ENTREVISTA
                                </a>
                            </div>

                        </div>
                        <br>
                        <br>
                        <br>
                        <p>Has recibido este correo por ser usuario de los servicios de</p>
                        <p style="color:blue">www.gnosismx.com</p>
                        <br>
                        <p style="color:blue">Si deseas dejar de recibir correos,haz click aqui.</p>
                    </div>
                </div>    
            </div>
        </main>
    </body>
</html>