{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="REGISTRATION STEP 4: EDUCATION">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>GNOSIS | EDUCACION</title>
</head>

<body>
  <div class="loader"></div>
  <header>
    <nav>
      <div class="nav-wrapper white" style="border: 1px solid rgba(192, 192, 192, 1)">
        <img class="responsive-img" style="height: 100%; width: 10%; padding-left: 25px"
          src="{% static 'images/logo.png' %}" alt="Gnosis logo" />
      </div>
    </nav>
  </header>
  <main class="principal">
    <div class="principal col s12 m12 l12 row">

      <div class="col s6 m6 l6 center">
        <div class="col l12 center">
          <img class="responsive-img" style="height: 100%; width: 50%; padding-top: 15px"
            src="{% static 'images/fase4.png' %}" alt="fase4 contacto image" />
          <h5 class="black-text" style="text-align:left; padding-left:25px"><b>Para saber de tus estudios</b></h5>
          <h6 class="grey-text" style="text-align:left; padding-left:25px">Cuentanos sobre tu estudio más reciente con
            esto estaras listo para postularte</h6>
        </div>
        <input type="hidden" name="fechaNac" id="fechaNac" value="{{fechaNacimiento}}">
        <div class="col l12 center">
          {% if error %}
          <div style="width:100%; height:24px; background-color:tomato">
            <p style="color:white;">{{ error }}</p>
          </div>
          {% endif %}
          <form class=" col l12 login-form" method="POST">
            {% csrf_token %}
            <div class="col l12 input-field">
              <select name="nivel" required>
                <option value="" disabled selected>Selecciona tu nivel</option>
                <option value="Bachiller">Educación Media Superior - Bachiller</option>
                <option value="Técnico">Educación Media Superior Técnica - Técnico</option>
                <option value="Técnico Superior Universitario">Educación Superior - Técnico Superior Universitario
                </option>
                <option value="Licenciatura">Educación Superior - Licenciatura</option>
                <option value="Ingeniería">Educación Superior - Ingenieria</option>
                <option value="Maestría">Educación Superior - Maestría</option>
                <option value="Doctorado">Educación Superior - Doctorado</option>
              </select>
              <label>Nivel</label>
            </div>

            <div class="col l6 input-field">
              <i class="material-icons prefix">school</i>
              <label for="institucion" data-error="wrong" data-success="right">Institucion</label>
              <input id="institucion" name="institucion" type="text" class="validate" pattern="[A-Za-z\s]{4,160}"
                minlength="4" maxlength="150" title="El nombre del pais debe tener minimo 4 caracteres" required>
            </div>
            <div class="col l6 input-field">
              <i class="material-icons prefix">local_post_office</i>
              <label for="titulo " data-error="wrong" data-success="right">Titulo o Carrera</label>
              <input id="titulo" name="titulo" type="text" class="validate" pattern="[A-Za-z\s]{4,150}" minlength="4"
                maxlength="150" title="Use solo letras" required>
            </div>


            <div class="col l6 m6 input-field">
              <input id="año_inicio" name="ano_inicio" type="text" class="datepicker" readonly style="display:true" />
              <label>Año de Inicio</label>
            </div>
            <div class="col l6 m6 input-field" id="container_ano_termino">
              <input id="año_termino" name="ano_termino" type="text" class="datepicker" readonly style="display:true" />
              <label>Año de Termino</label>
            </div>

            <div class="col l6 m6 input-field">
              <label>
                <input name="chec" type="checkbox" id="chec" onChange="comprobar(this);" />
                <span>Sigo estudiando</span>
              </label>
            </div>
            <div class="col l1 m6 input-field" style="visibility:hidden">
              <h6 style="visibility:hidden">.</h6>
            </div>
            <div class="col l12 input-field">
              <button class="btn-large grey darken-3 waves-effect waves-light" type="submit" name="action">Guardar y
                Finalizar
                <i class="material-icons right">send</i>
              </button>
            </div>

          </form>
        </div>
      </div>

      <div class="col s12 m12 l6 center">
        <h2>
          <b>¿QUÉ EDUCACIÓN</b>
          <b class="blue-text text-darken-4">HA RECIBIDO?</b>
        </h2>

        <img class="responsive-img" style="height: 100%; width: 100%; padding-right: 155px"
          src="{% static 'images/education.png' %}" alt="Contact Ilustration" />
      </div>
    </div>
  </main>

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/js/materialize.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <script>
    (function ($) {
      $(function () {
        // Plugin initialization
        $('select').not('.disabled').formSelect();
      });
    })(jQuery); // end of jQuery name space
  </script>
  <script>
    window.addEventListener("load", () => {
      const loader = document.querySelector(".loader");

      loader.classList.add("loader--hidden");

      loader.addEventListener("transitioned", () => {
        document.body.removeChild(loader);
      });
    });

    function comprobar(obj) {
      if (obj.checked) {
        document.getElementById('container_ano_termino').style.display = "none";
      } else {
        document.getElementById('container_ano_termino').style.display = "";
      }
    }



    document.addEventListener("DOMContentLoaded", function () {
      var fechaSalidaInput = document.getElementById("año_termino");
      M.Datepicker.init(fechaSalidaInput, {
        format: "yyyy-mm-dd",
        autoClose: true,
        defaultDate: new Date(2000, 0, 1),
        autoClose: true,
        showClearBtn: true,
        firstDay: 1,
        minDate: new Date(1979, 1, 12),
        maxDate: new Date(2023, 11, 31),
        i18n: {
          cancel: "Cancelar",
          clear: "Limpiar",
          done: "Listo",
          today: "Hoy",
          previousMonth: "Mes anterior",
          nextMonth: "Siguiente mes",
          months: [
            "Enero",
            "Febrero",
            "Marzo",
            "Abril",
            "Mayo",
            "Junio",
            "Julio",
            "Agosto",
            "Septiembre",
            "Octubre",
            "Noviembre",
            "Diciembre",
          ],
          monthsShort: [
            "Ene",
            "Feb",
            "Mar",
            "Abr",
            "May",
            "Jun",
            "Jul",
            "Ago",
            "Sep",
            "Oct",
            "Nov",
            "Dic",
          ],
          weekdays: [
            "Domingo",
            "Lunes",
            "Martes",
            "Miércoles",
            "Jueves",
            "Viernes",
            "Sábado",
          ],
          weekdaysShort: ["Dom", "Lun", "Mar", "Mié", "Jue", "Vie", "Sáb"],
          weekdaysAbbrev: ["D", "L", "M", "M", "J", "V", "S"],
        },
        onClose: function () {
          setTimeout(function () {
            let fechaEntrada = document.getElementById("año_inicio").value;
            let fechaSalida = document.getElementById("año_termino").value;
            var fechaNacInput = document.getElementById('fechaNac').value;
            // console.log(fechaNacInput)
            var dateEntrada = new Date(fechaEntrada);
            var dateSalida = new Date(fechaSalida);
            var fechaHoy = new Date();  // Crear un objeto Date con la fecha y hora actuales
            var fechaNac = moment(fechaNacInput, "MMM. DD, YYYY, h:mm a");
            var fechaDate = fechaNac.toDate();
            fechaDate.setFullYear(fechaDate.getFullYear() + 18);
            // console.log(fechaDate);

            if (dateSalida <= fechaDate) {
              document.getElementById("año_termino").value = "";
              Swal.fire('La fecha de salida no debe ser menor que tu edad minima requerida');
            }


            if (dateSalida == dateEntrada) {
              document.getElementById("año_termino").value = "";
              Swal.fire('La fecha de entrada no debe igual que la de salida');
            }


            if (dateSalida >= fechaHoy) {
              document.getElementById("año_termino").value = "";
              Swal.fire('La fecha de salida no debe ser mayor a la fecha actual');
            }

            // console.log(fechaHoy)
          }, 1000);
        },
      });
    });


    document.addEventListener("DOMContentLoaded", function () {
      var fechaSalidaInput = document.getElementById("año_inicio");
      M.Datepicker.init(fechaSalidaInput, {
        format: "yyyy-mm-dd",
        autoClose: true,
        defaultDate: new Date(2000, 0, 1),
        autoClose: true,
        showClearBtn: true,
        firstDay: 1,
        minDate: new Date(1979, 1, 12),
        maxDate: new Date(2023, 11, 31),
        i18n: {
          cancel: "Cancelar",
          clear: "Limpiar",
          done: "Listo",
          today: "Hoy",
          previousMonth: "Mes anterior",
          nextMonth: "Siguiente mes",
          months: [
            "Enero",
            "Febrero",
            "Marzo",
            "Abril",
            "Mayo",
            "Junio",
            "Julio",
            "Agosto",
            "Septiembre",
            "Octubre",
            "Noviembre",
            "Diciembre",
          ],
          monthsShort: [
            "Ene",
            "Feb",
            "Mar",
            "Abr",
            "May",
            "Jun",
            "Jul",
            "Ago",
            "Sep",
            "Oct",
            "Nov",
            "Dic",
          ],
          weekdays: [
            "Domingo",
            "Lunes",
            "Martes",
            "Miércoles",
            "Jueves",
            "Viernes",
            "Sábado",
          ],
          weekdaysShort: ["Dom", "Lun", "Mar", "Mié", "Jue", "Vie", "Sáb"],
          weekdaysAbbrev: ["D", "L", "M", "M", "J", "V", "S"],
        },
        onClose: function () {
          setTimeout(function () {
            let fechaEntrada = document.getElementById("año_inicio").value;
            let fechaSalida = document.getElementById("año_termino").value;
            var fechaNacInput = document.getElementById('fechaNac').value;
            console.log(fechaNacInput)

            var dateEntrada = new Date(fechaEntrada);
            var dateSalida = new Date(fechaSalida);
            var fechaHoy = new Date();  // Crear un objeto Date con la fecha y hora actuales
            var fechaNac = moment(fechaNacInput, "MMM. DD, YYYY, h:mm a");
            var fechaDate = fechaNac.toDate();
            fechaDate.setFullYear(fechaDate.getFullYear() + 18);
            // console.log(fechaDate);

            if (dateEntrada <= fechaDate) {
              document.getElementById("año_inicio").value = "";
              Swal.fire('La fecha de entrada no debe ser menor que tu edad minima requerida');
            }
            if (dateEntrada >= fechaHoy) {
              document.getElementById("año_inicio").value = "";
              // console.log(document.getElementById("año_inicio").value)
              Swal.fire('La fecha de entrada no debe ser mayor a la fecha actual');
            }
            if (dateEntrada == dateSalida) {
              document.getElementById("año_termino").value = "";
              Swal.fire('La fecha de entrada no debe igual que la de salida');
            }
            if (dateEntrada >= dateSalida) {
              document.getElementById("año_inicio").value = "";
              Swal.fire('La fecha de salida no debe ser mayor que la de entrada');
            }

            // console.log(fechaHoy)
          }, 1000);
        },
      });
    });


  </script>
</body>

</html>